[Unit]
Description=PacketLoss Advertisements Bot Service
After=network.target

[Service]
User=nginx
WorkingDirectory=/var/www/packetads
ExecStart=/home/nginx/.local/share/pnpm run start
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=packetads

[Install]
WantedBy=multi-user.target